li {
display:inline-block
}

header {
margin-top:4vh;
margin-bottom:5.8vh;
border-bottom:1px solid #eee
}

header>h1 {
font-family:"Garamond",serif;
float:left
}

nav {
padding:10px;
float:right
}

div.page {
clear:both;
min-height:60vh;
padding-left:24px;
zoom:.9
}

div.page > h2 {
line-height:inherit
}

footer {
border-top:1px solid #eee;
margin-top:10vh;
padding-top:10px;
text-align:center
}
